.ride__insurance-text {
    font-family: "YandexSansTextRegular-wght600", Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.3;
    color: #fff;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .ride__insurance-text{
        font-size: 24px;
    }
}