.art__text-img {
    width: 100%;
    max-width: 950px;
    position: absolute;
    top: 110px;
    left: 0px;
}

@media (max-width: 800px) {
    .art__text-img {
        max-width: 600px;
        top: 30px;
    }
}