.header__zone {
    box-sizing: border-box;
    padding: 0 17px;
    width: 100%;
    max-width: 1140px;
    min-height: 78px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}