.where__title {
    font-family: "YandexSansTextRegular-wght-900", Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 1.1;
    color: #21201f;
    margin: 0 0 32px;
}

@media (max-width: 950px) {
    .where__title {
        margin: 0 15px 32px;
    }
}

@media (max-width: 800px) {
    .where__title {
        font-size: 32px;
    }
}