.header__navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .header__navigation {
        flex-direction: column;
        padding: 0 10px;
        justify-content: start;
    }
}

@media (max-width: 600px) {
    .header__navigation {
        display: none;
    }
}