.intro__illustration {
    max-width: 920px;
    min-height: 620px;
    padding-top: 150px;
    position: relative;
}

@media (max-width: 800px) {
    .intro__illustration {
        min-height: 500px;
        padding-top: 70px;
    }
}

@media (max-width: 600px) {
    .intro__illustration {
        min-height: 320px;
    }
}