.footer__span {
    display: inline-block;
    font-family: "YandexSansTextRegular-wght600", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.3;
    color: #21201f;
    margin-right: 40px;
}

.footer__span:last-of-type {
    margin-right: 0;
}