.intro__attention-text {
    max-width: 750px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: "YandexSansTextRegular-wght-900", Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 1.1;
    font-weight: 900;
    color: #fff;
    margin: 27px 0;
}

@media (max-width: 920px) {
    .intro__attention-text{
        font-size: 48px;
        max-width: 550px;
    }
}


@media (max-width: 800px) {
    .intro__attention-text {
        font-size: 36px;
    }
}