.ride__video {
    width: 734px; 
    /* height: 414px; удалено ради адаптива размера по вертикали*/
    border-radius: 32px; 
    /* position: absolute; 
    right: 0; 
    top: 0;  */
    border: none;

    /* my styles */
    margin-left: 3000px;
}

@media (max-width: 600px) {
    .ride__video {
        border-radius: 24px;
    }
}