.download__title {
    font-family: "YandexSansTextRegular-wght-900", Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 1.1;
    color: #21201f;
    margin: 0 0 32px;
    max-width: 455px;
    text-shadow: 0 0 3px #fff;
}

@media (max-width: 800px) {
    .download__title {
        font-size: 32px;
        max-width: 400px;
    }
}